:root {
  --default-border: 2px solid black;
  --default-radius: 10px;
  --default-section-width: 80%;

  --color-poppy: #FF9432;
  --color-black: #07090F;
  --color-auburn: #A62639;
  --color-auburn-hover: #771B29;
}

* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

html {
  font-family: "Avenir", "Nunito", sans-serif;
  height: auto !important;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  text-align: center;
  background-color: var(--color-poppy);
  color: white;
  width: 100%;
  margin: 0;
  padding: 15px;
}

main {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: var(--color-black);
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

footer h2 {
  padding: 0;
  font-size: larger;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

section form {
  display: flex;
  flex-direction: column;
}

section input {
  outline: none;
  border: none;
  border-bottom: var(--default-border);
  font-size: 20px;
  margin-bottom: 20px;
}

section button {
  background-color: var(--color-auburn);
  color: white;
  padding: 10px;
  border: var(--default-border);
  border-radius: var(--default-radius);
  font-size: 20px;
  cursor: pointer;
}

section button:hover:not(:disabled) {
  background-color: var(--color-auburn-hover);
}

section button:disabled {
  opacity: 0.5;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

h1 {
  color: white;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
}

.button-new-question {
  min-width: 60px;
  min-height: 47px;
  max-width: 60px;
  max-height: 47px;
  padding: 0;
}

.credits {
  opacity: 0.5;
}

.custom-arrow {
  margin-top: 5px;
}

.wrong-answer {
  color: var(--color-auburn);
  margin-bottom: 10px;
}

#round1,
#round2,
#round3 {
  border: var(--default-border);
  border-radius: var(--default-radius);
  width: var(--default-section-width);
}